extends _layout

block content
	.row
		.col-md-12
			a.btn.btn-primary.pull-right(href='/', style="margin-top: 10px;") Back To Results
			h1 Single Agent Details
			hr
			p DID
			p Managing account
			p Balances
			p Transactions
			p Claims
			p Reputation Score